// gallery02
section.gallery_02(data-menu='true')
	.layoutWrap
		.title PHOTOGRAPHY
		h2.detail 分享"你的城市時尚"活動-參賽者們
		.photo
			iframe(style='border: 0; width: 100%; height: 100%;', scrolling=no, data-msrc='https://embedsocial.com/facebook_album/pro/864eb6d8ff21ed55661a8ec9bf8d43383a8c1623', data-pcsrc='https://embedsocial.com/facebook_album/pro_develop/1157458751013806?total_images=1000&images_per_page=16&show_title=no&order_by_date=ascending&show_likes=no&show_images_in_lightbox=yes')
// gallery02 end