// layout03_infinite
section#layout_03_infinit.layout_03(data-menu='true')
	.layoutWrap(data-tags='["我的城市時尚我自定義"]',data-filter='[56247, 56274, 56375]')
		.title RELATED POSTS
		h2.detail 島內最時尚的遊人，都這樣炫玩！
		.subTitleWrap
			p.subTitle
// layout03_infinite end